html {
  background-color: #000;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.logo {
  height: 5rem;
  pointer-events: none;
  position: absolute;
  top: 5%;
  left: 5%;
}

.clock-container {
  width: 300px;
  height: 300px;

  border-radius: 100%;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

.clock-wait-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 300px;
  height: 300px;

  color: red;
}

.clock-hand {
  width: 60px;
}

.clock-wait-text {
  color: red;
}

.rotate {
  animation: rotation 60s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
